.info-card{
    padding: 0 5px;
}

.info-primary{
    background: #1cc7c1;
}
.info-dark{
    background: #3A4256;
}

.info-Container{
    height: 120px;
    padding: 40px;
}


.info-icon{
    font-size: 3rem;
}